---
const { summary } = basics;
import { basics } from "data.json";
import Section from "@/Section.astro";
---

<Section title="Sobre Mí">
	<p class="text-sm sm:text-base">
		{summary}
	</p>
</Section>
