---
import { skills } from "data.json";
import Section from "@/Section.astro";
---

<Section title="Competencias">
	<ul class="flex flex-row flex-wrap gap-2">
		{
			skills.map(({ name }) => (
				<li class="tag">
					<span>{name}</span>
				</li>
			))
		}
	</ul>
</Section>
