---
import { skills } from "data.json";
import Section from "@/Section.astro";
---

<Section title="Competencias">
	<ul class="flex flex-wrap gap-1 text-xs">
		{
			skills.map(({ name }) => (
				<li class="rounded border bg-gray-300 px-2 py-1 text-sm font-semibold text-black">
					<span>{name}</span>
				</li>
			))
		}
	</ul>
</Section>
