---
const { name, label } = basics;
import { basics } from "data.json";
import Hero from "@/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title=`Portfolio de ${name} | ${label}`>
	<main class="mx-auto w-full max-w-4xl p-8 md:p-16">
		<Hero />
	</main>
</Layout>
