---
import Layout from "../layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout title="Ignacio Jesús Revainera | Portfolio Minimalista">
	<main>
		<Hero />
	</main>
</Layout>
