---
const { name, label } = basics;
import { basics } from "data.json";
import About from "@/sections/About.astro";
import Education from "@/sections/Education.astro";
import Experience from "@/sections/Experience.astro";
import Hero from "@/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "@/sections/Projects.astro";
---

<Layout title=`Portfolio de ${name} | ${label}`>
	<main class="mx-auto w-full max-w-4xl p-8 md:p-16">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
	</main>
</Layout>
