---
const { name, label } = basics;
import { basics } from "data.json";
import Hero from "@/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title=`Portfolio de ${name} | ${label}`>
	<main>
		<Hero />
	</main>
</Layout>
