---
interface Props {
	title: string;
}
const { title } = Astro.props;
import KeyboardManager from "@/KeyboardManager.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Ignacio Revainera" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b5797" />
		<meta name="msapplication-TileColor" content="#2b5797" />
		<meta name="theme-color" content="#ffffff" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<KeyboardManager />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
	}

	html {
		font-family: "Cascadia Code", "Courier New", Courier, monospace;
		@apply bg-white;
	}

	.text-responsive {
		@apply text-sm sm:text-base;
	}

	.tag {
		@apply rounded border bg-gray-300 px-2 py-1 text-sm font-semibold;
	}

	.print {
		@apply hidden;
	}

	@media print {
		.no-print {
			@apply hidden;
		}

		.print {
			@apply block;
		}

		.text-responsive {
			@apply text-sm;
		}

		.section-print {
			@apply mb-9;
		}
	}
</style>
